<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aac</string>
				<string>mp3</string>
				<string>wav</string>
				<string>pcm</string>
				<string>ogg</string>
				<string>mka</string>
				<string>m4a</string>
				<string>wma</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_audio.icns</string>
			<key>CFBundleTypeName</key>
			<string>Audio Media</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>avi</string>
				<string>mp4</string>
				<string>mpg</string>
				<string>mp2</string>
				<string>mpg2</string>
				<string>mpeg</string>
				<string>mpg4</string>
				<string>asf</string>
				<string>wmv</string>
				<string>qt</string>
				<string>mov</string>
				<string>flv</string>
				<string>fli</string>
				<string>vcd</string>
				<string>rm</string>
				<string>rmvb</string>
				<string>vob</string>
				<string>ogm</string>
				<string>divx</string>
				<string>vfw</string>
				<string>mkv</string>
				<string>3gp</string>
				<string>m4v</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>doc_video.icns</string>
			<key>CFBundleTypeName</key>
			<string>Video Media</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>MPlayerX.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.niltsh.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.5 beta 1</string>
	<key>CFBundleSignature</key>
	<string>NILT</string>
	<key>CFBundleVersion</key>
	<string>0.9.4</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUEnableSystemProfiling</key>
	<true/>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
